<%- include('../partials/header') %>
<br />
<h3>
  <div>
    <div class="panel-heading text-center">
      <img src="<%= user.avatar %>" class="img-circle" width="300" />
      <br />
      <h2><%= user.name %></h2>
    </div>
  </div>
</h3>
<br>
<div class="cards">
  <% posts.forEach(function(p) { %>
  <div class="card col-md-4">
    <img
      src="/uploads/images/<%= p.img %>"
      class="card-img-top"
      alt="Post Image"
    />
    <div class="card-body">
      <h5 class="card-title"><%= p.name %></h5>
      <p class="card-text"><%= p.description %></p>
      <div class="details">
        <a href="/posts/<%= p._id %>" class="btn btn-primary">Details</a>
        <form action="/posts/<%= p._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% }); %>
</div>

<%- include('../partials/footer') %>
