<%- include('../partials/header') %>
<h1>All Posts</h1>
<div class="cards">
  <% posts.forEach(function(p) { %>
  <div class="card col-md-4">
    <img
      src="/uploads/images/<%= p.img %>"
      class="card-img-top"
      alt="Post Image"
    />
    <div class="card-body">
      <h5 class="card-title"><%= p.name %></h5>
      <p class="card-text"><%= p.description %></p>
      <div class="details">
        <a href="/posts/<%= p._id %>" class="btn btn-primary allDetails">Details</a>
        <div class="like">
          <form
            method="post"
            id="post-form"
            action="/posts/likes/<%= p._id %>?_method=PUT"
          >
            <button><i class="bi bi-hand-thumbs-up"></i></button>
          </form>

          <span class="likedisplay"><%= p.likes.length %> </span>
          <form
            method="post"
            id="post-form"
            action="/posts/unlikes/<%= p._id %>?_method=PUT"
          >
            <button><i class="bi bi-hand-thumbs-down"></i></button>
          </form>
          <span class="likedisplay"><%= p.unlikes.length %> </span>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>
