<%- include('../partials/header') %>
<div class="detailsPage">
  <div class="card col-md-4">
    <img
      src="/uploads/images/<%= posts.img %>"
      class="card-img-top"
      alt="Post Image"
    />
    <div class="card-body">
      <h5 class="card-title"><%= posts.name %></h5>
      <p class="card-text"><%= posts.description %></p>
    </div>
  </div>

  <br /><br />
  <h2>Reviews</h2>

  <% if (user) { %>

  <form
    id="add-review-form"
    method="POST"
    action="/posts/<%= posts._id %>/comments"
  >
    <label>Review:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment" />
  </form>

  <% } %> <% if (posts.comments.length) { %>
  <table class="container">
    <thead>
      <tr>
        <th class="col-3">Date</th>
        <th class="col-6">comment</th>
        <th class="col-3">By</th>
      </tr>
    </thead>
    <tbody>
      <% posts.comments.forEach(function(c) { %>
      <tr>
        <td class="review-user col-3">
          <%= (c.createdAt).toString().slice(4, 16) %> <%=
          (c.createdAt.toLocaleString('en-US', { hour: 'numeric', minute:
          'numeric', hour12: true })) %>
        </td>
        <td class="col-6"><%= c.content %></td>
        <td class="col-3"><%= c.userName %></td>
        <% if (c.commentUser.equals(user._id)) { %>
        <td>
          <form
            action="/posts/comments/<%= c._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
        </td>
        <% } %>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <% } else { %>
  <h5>No Reviews Yet</h5>
  <% } %>
</div>
<%- include('../partials/footer') %>
