<%- include('../partials/header') %>

<div class="card col-md-4">
  <img src="<% posts.img[0] %>" class="card-img-top" alt="Post Image">
  <div class="card-body">
    <h5 class="card-title"><%= posts.name %></h5>
    <p class="card-text"><%= posts.description %></p>
    <div class="details">
      <a href="/posts/<%= posts._id %>" class="btn btn-primary">Details</a>
    </div>
  </div>
</div>

  <br /><br />
  <h2>Reviews</h2>

  <% if (user) { %>

  <form
    id="add-review-form"
    method="POST"
    action="/posts/<%= posts._id %>/comments"
  >
    <label>Review:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment" />
  </form>

  <% } %> <% if (posts.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>comment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="review-user">
              <% posts.comments.forEach(function(c) { %> 
         <h3><%= posts.postedBy %></h3>
        </td>
        <td><%= c.content %></td>
      </tr>
    </tbody>
  </table>
  <% }); %>
  <% } else { %>
  <h5>No Reviews Yet</h5>
  <% } %> 
  <%- include('../partials/footer') %>

